.quiz-container {
    background-color: #343a40;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .quiz-container h2 {
    font-size: 26px;
    font-weight: 600;
    color: #f8f9fa;
  }
  
  .options button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .options button:hover {
    background-color: #0056b3;
  }
  
  .quiz-container p {
    font-size: 16px;
    color: #adb5bd;
    text-align: center;
  }

  .result {
    text-align: center;
    background-color: #495057;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .result h2 {
    font-size: 28px;
    font-weight: bold;
    color: #f8f9fa;
  }
  
  .result p {
    font-size: 22px;
    margin-bottom: 20px;
    color: #f8f9fa;
  }
  
  .result button {
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    border: none;
  }
  
  .result button:hover {
    background-color: #218838;
  }
  